.nav-ul{
  
  padding: 0px;
  margin: 0px;
  background-color: lightskyblue;
}
.nav-ul li{
padding: 20px;
display: inline-block;
}
.nav-ul li a{
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

.appButton{
  margin-top: 5px;
  margin-left: 25px;
  padding: 10px ;
  width: 150px;
  border: 1px solid;
  cursor: pointer;
  background-color: skyblue;
}
.register{
  margin-left: 37%;
}

.inputBox{
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue;
}

.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: lightskyblue;
}